.container {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     /* Ensure the container takes full height */
}

.label {
     position: relative;
     display: flex;
     width: 250px;
     border-radius: 6px;
     border: 2px solid #373737;
     padding: 15px 8px 15px 10px;
     margin-bottom: 20px;
     /* Add some space below the input field */
     text-align: left;
}

.icon {
     position: absolute;
     top: 50%;
     right: 10px;
     /* Adjust the position to fit inside the input field */
     transform: translateY(-50%);
     transition: all 0.3s ease;
     color: #c5c5c5;
}

.input {
     width: 100%;
     background-color: transparent;
     outline: none;
     border: none;
     color: #373737;
     /* Ensure the text color is visible */
     font-size: 16px;
}
button {
     border: none;
     color: #fff;
     background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
     border-radius: 20px;
     background-size: 100% auto;
     font-family: inherit;
     font-size: 17px;
     padding: 0.6em 1.5em;
}

button:hover {
     background-position: right center;
     background-size: 200% auto;
     -webkit-animation: pulse 2s infinite;
     animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
     0% {
          box-shadow: 0 0 0 0 #05bada66;
     }

     70% {
          box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
     }

     100% {
          box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
     }
}